/laskarit/viikko2/unicafe/.pytest_cache
*__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class

#mun repossa ei ole nähdäkseni tällaisia macos-hakemistoja, enkä tiedä, 
#miksi olisi, mutta labtoolin palautteessa pyydettiin lisäämään tämä gitignoreen, joten lisäsin
/macos